.form-bg{
    font-family: "Roboto",sans-serif;
    background-image: url(../img/background-hw4.png);
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    text-decoration: none;
}

.header-menu{
    padding: 20px 0px;
    background-color: rgba(0, 0, 0, 0.41);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container {
    width: 1210px;
    margin: 0 auto;
}

.header-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-name{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 1s;
}

.header-name:hover {
    color: #3cb878;
}

.header-icons-entrance{
    display: flex;
    align-items: center;
}

.header-icon-link{
    display: inline-block;
    margin-right: 26px;
}

.bg-ic_caledar{
    width: 19px;
    height: 19px;
    background-image: url('../img/css_sprites.png');
    background-position: -10px -10px;
    transition: 1s;
}

.bg-ic_caledar:hover{
    width: 19px;
    height: 19px;
    background-image: url('../img/css_sprites-green.png');
    background-position: -10px -10px;
}

.bg-ic_forum {
    width: 28px;
    height: 20px;
    background-image: url('../img/css_sprites.png');
    background-position: -89px -10px;
    transition: 1s;
}

.bg-ic_forum:hover {
    width: 28px;
    height: 20px;
    background-image: url('../img/css_sprites-green.png');
    background-position: -89px -10px;
}

.bg-ic_journey {
    width: 20px;
    height: 20px;
    background-image: url('../img/css_sprites.png');
    background-position: -49px -10px;
    transition: 1s;
}
.bg-ic_journey:hover {
    width: 20px;
    height: 20px;
    background-image: url('../img/css_sprites-green.png');
    background-position: -49px -10px;
}

.header-text-entrance{
    color: #fff;
    font-size: 14px;
    border-left: 1px solid #32302e;
    padding-left: 24px;
}

.entrance-sign-up,
.entrance-log-in{
    color: #3cb878;
}

.entrance-sign-up:hover,
.entrance-log-in:hover{
    border-bottom: 1px solid #3cb878;
}

.main-form{
    width: 444px;
    margin: 65px auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px 62px;
    box-sizing: border-box;
    position: relative;
}

.form-authorization-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
}

.form-sign-up{
    color: #434343;
    font-size: 20px;
}

.form-log-in{
    color: #3cb878;
    font-size: 14px;
}

.form-authorization-btn{
    margin-bottom: 37px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*button facebook and google*/
.form-btn-login {
    box-sizing: border-box;
    width: 157px;
    position: relative;
    padding: 17px 17px 17px 69px;
    border: none;
    white-space: nowrap;
    border-radius: 3px;
    font-size: 16px;
    color: #FFF;
    outline: none;
}

.form-btn-login:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 10px;
    left: 17px;
    width: 34px;
    height: 28px;
}

/* Facebook */
.form-btn-facebook {
    background-color: #305db8;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    text-shadow: 0 -1px 0 #354C8C;
}
.form-btn-facebook:before {
    border-right: 1px solid #2b53a6;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') -3px 4px no-repeat;
}

/* Google */
.form-btn-google {
    background: #df4a32;
}
.form-btn-google:before {
    border-right: 1px solid #c9422d;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') -3px 6px no-repeat;
}

.form-block-line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 21px;
}

.line-grey{
    width: 42%;
    height: 1px;
    border: 0;
    background-color: #eaeaea;
}

.text-between-line{
    color: #848484;
    font-size: 14px;
    padding-left: 16px;
    padding-right: 16px;
}

.form-field{
    width:100%;
    padding: 18px 17px;
    margin-bottom: 17px;
    box-sizing: border-box;
    border: 1px solid #eaeaea;
    border-radius: 3px;
}

.form-field::placeholder{
    color: #bebebe;
    font-size: 14px;
}

.form-field:active,
.form-field:focus,
.form-field-active{
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    color:#434343;
    outline:none;
}

.checkbox-black{
    color: #434343;
    display: inline-block;
    padding-top: 4px;
}

.checkbox-green{
    color: #3cb878;
}

.label-block-checkbox{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 28px;
    font-size: 14px;
}

.checkbox-block{
    position: absolute;
    opacity: 0;
}

.checkbox-icon{
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius:3px;
    box-sizing: border-box;
}

.checkbox-icon:after{
    content: "";
    position: absolute;
    display: none;
}

.label-block-checkbox .checkbox-block:checked ~ .checkbox-icon:after{
    display: block;
}

.label-block-checkbox .checkbox-icon:after{
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid green;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn-green-create{
    width: 100%;
    background-color: #3cb878;
    font-size: 16px;
    outline: none;
    border:none;

    display: inline-block;
    color:#fff;
    border-radius: 3px;
    padding: 17px;
}

.main-green-square{
    background-color: #3cb878;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0px;
    top: 31px;
}







