
body{
    color:#fff;
    font-family: sans-serif;
    background-image: url("../img/background-home3.png");
    /*background-repeat: no-repeat;*/
    background-size: cover;
}
a{
    text-decoration:none;
    color:#fff;
}

.header{
    margin-top:47px;
    margin-bottom:47px;
}
.clearfix::after{
    content:"";
    clear:both;
    height:0;
    visible:hidden;
    display:table;
}
.container{
    margin-left:auto;
    margin-right:auto;
    width: 1064px;
}

.header-left-logo{
    float:left;
}

.header-contact{
    float:right;
}

.header-title{
}

.header-icon{
    font-size: 45px;
    margin-right: 15px;
    float:left;
}

.bg-logo{
    width: 46px;
    height: 44px;
    background: url('../img/sprites_logo.png') -76px -10px;
}
.header-title:hover .bg-logo{
    width: 46px;
    height: 44px;
    background: url('../img/sprites_logo.png') -10px -10px;
}

.header-title-link{
    text-transform:uppercase;
}

.header-logo-bid{
    font-size: 29px;
    font-weight: bold;
}

.header-title:hover .header-title-link{
    color: #f26522;
}
.header-logo-small{
    display:block;
    font-size: 18px;
    font-weight: bold;
}

.header-contact-phone-email{
    display: block;
    font-size: 18px;
    line-height: 21px;
    text-align:right;
}

.main{
}

.tours-item{
    float:left;
    width: 307px;
    margin-right: 65px;
    text-align: center;
    margin-bottom: 55px;
    position: relative;
}
.tours-item:nth-child(3n){
    margin-right: 0px;
}

.tours-img{
    margin-bottom: 22px;
    max-width: 307px;
    width: 100%;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to bottom, #fff, rgba(0, 0, 0, 0)) 0.5;
    box-sizing:border-box;

}

.tours-description{
    background-color: #f26522;
    padding: 16px 21px;
    width: 100%;
    box-sizing:border-box;
    position:absolute;
    left:0;
    bottom:43px;
    opacity:0;
    transition: opacity 1s;
}

.tours-item:hover .tours-description{
    opacity: 1;
}
.tours-item:hover .tours-name{
    color:#f26522;
}

.tours-price{
    float: left;
    font-size: 10px;
    line-height: 21px;
    text-align: left;
}
.tours-price2{
    display: block;
    font-size: 20px;
    line-height: 21px;
}

.tours-view{
    float: right;
    font-size: 14px;
    padding-top: 19px;
}

.tours-name{
    color:#fff;
    text-decoration:none;
    font-size: 18px;
}
.footer-block{
    margin-bottom: 20px;
}
.footer-copyright{
    text-align: center;
    font-size: 12px;
}
