*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.abstract-img {
    border: 20px solid #3e3e3e;
    background-color: #3E3E3E;
    margin: 0 auto;
    table-layout: fixed;
    width: 741px;
    height: 900px;
}

.bb{
    table-layout: fixed;
    /*width: 33px;*/
    height: 33px;
}

.color-yellow{
    background-color: #fae317;
}

.color-blue{
    background-color: #0d7fbe;
}

.color-red{
    background-color: #f50f0f;
}

.color-black{
    background-color: #000;
}

.color-gray{
    background-color: #f3f3f3;
}
