body{
    font-family: 'Arimo', sans-serif;
    box-sizing: border-box;
}

.table{
    /*width: 1192px;*/
    margin: auto;
    border: 24px solid #374765;
    text-align: center;
    /*box-sizing: border-box;*/
}

td, th{
    box-shadow: inset 5px 0 5px -5px rgba(0, 0, 0, 0.27);
}

.table-header{
    background-color: #fafafa;
}

.thead-pricing-plan{
    width: 310px;
    color:  #484848;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    /*padding: 55px 0;*/
}
.thead-pricing-text{
}

.thead-pricing-plan-big{
    display: block;
    color:  #484848;
    font-size: 30px;
    font-weight: 700;
    line-height: 28px;
}

#standard,
.thead-tariff-standard{
    width: 277px;
    color:  #ffffff;
    font-size: 24px;
    font-weight: 700;
    background-color:  #89c331;
    padding: 26px 0;
    text-transform: uppercase;
}
#ultimate,
.thead-tariff-ultimate{
    width: 277px;
    color:  #ffffff;
    font-size: 30px;
    font-weight: 700;
    background-color:  #f04a56;
    padding: 26px 0;
    text-transform: uppercase;
}
#premium,
.thead-tariff-premium{
    width: 277px;
    color:  #ffffff;
    font-size: 24px;
    font-weight: 700;
    background-color:  #20807c;
    padding: 26px 0;
    text-transform: uppercase;
}

.thead-block-price{
    padding: 18px 33px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}

.thead-price{
    color:  #484848;
    font-size: 60px;
    font-weight: 700;
}

.thead-price-cent{
    color:  #484848;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}

.thead-price-period{
    display: block;
    color:  #484848;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
}


.table-content-row:nth-child(odd){
    background-color:  #f2f2f2;
}

.table-content-row:nth-child(even){
    background-color:  #e3e3e3;
}

.tbody-content-cell{
    padding: 28px 0;
    color:  #484848;
    font-size: 16px;
    text-transform: uppercase;
}

.tbody-icon-center{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.tbody-content-icon{
    color:  #848484;
    font-size: 24px;
    margin-right: 12px;
}


.tfoot-cell{
    padding: 30px 0;
}

.tfoot-cell-contact{
    background-color:  #ddd;
    /*box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);*/
}

.tfoot-cell-standard{
    background-color:  #eee;
    /*box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);*/
}

.tfoot-cell-ultimate{
    background-color:  #f4f4f4;
    /*box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);*/
}

.tfoot-cell-premium{
    background-color:  #eee;
    /*box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);*/
}

.table-btn{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid transparent;
}

.btn-contact{
    background-color: #484848;
    box-shadow: 0 7px 0 0 #404040;
    padding: 18px 44px 11px;
    transition: 1s;
}

.btn-contact:hover{
    color: #404040;
    background-color: #fff;
    padding: 18px 35px 11px;
    border: 1px solid #404040;
}

.btn-buy-standard{
    background-color: #89c331;
    box-shadow: 0 7px 0 0 #79b027;
    padding: 18px 57px 11px;
    transition: 1s;
}

.btn-buy-standard:hover{
    color: #79b027;
    background-color: #fff;
    padding: 18px 48px 11px;
    border: 1px solid #79b027;
}

.btn-buy-ultimate{
    background-color: #f04a56;
    box-shadow: 0 7px 0 0 #df3a46;
    padding: 18px 57px 11px;
    transition: 1s;
}

.btn-buy-ultimate:hover{
    color: #df3a46;
    background-color: #fff;
    padding: 18px 48px 11px;
    border: 1px solid #df3a46;
}


.btn-buy-premium{
    background-color: #20807c;
    box-shadow: 0 7px 0 0 #16736f;
    padding: 18px 57px 11px;
    transition: 1s;
}

.btn-buy-premium:hover{
    color: #16736f;
    background-color: #fff;
    padding: 18px 48px 11px;
    border: 1px solid #16736f;
}

#deleteUpdate,
#fontsUpdate{
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    /*margin: 0 auto;*/
    text-align: center;
    background-color: #00cbf6;
    color: #FFFFFF;
}