@font-face{
    font-family: 'Arimo';
    src: url("../fonts/Arimo-Regular.ttf") format('truetype');
    /*src: url("../fonts/Arimo-Bold.ttf") format('truetype');*/
    /*src: url("../fonts/Arimo-BoldItalic.ttf") format('truetype');*/
    /*src: url("../fonts/Arimo-Italic.ttf") format('truetype');*/
}

body{
    font-family: 'Arimo', sans-serif;
}

.table-info{
    border: 30px solid #374765;
    margin: 0 auto;
    text-align: center;
}

th, td{
    box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.27);
}
th:first-child,
td:first-child{
    border: none;
}

.thead-function-choose{
    width: 198px;
    background-color:  #fafafa;
}

.thead-text-top{
    color: #484848;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.thead-text-bottom{
    display: block;
    color:  #484848;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.thead-function-pricing{
    width: 157px;
    padding: 32px 0;
}

.thead-function-pricing:nth-child(2n),
.tbody-tariff-content:nth-child(2n){
    background-color:  #e3e3e3;
}

.thead-function-pricing:nth-child(2n+1),
.tbody-tariff-content:nth-child(2n+1){
    background-color:  #f2f2f2;
}

.thead-content-icon{
    display: block;
    color:  #848484;
    font-size: 24px;
    margin-bottom: 10px;
}

.thead-function-name{
    text-transform: uppercase;
    color:  #484848;
    font-size: 20px;
    font-weight: 700;
}


/*TBODY*/

.tariff-standart{
    background-color:  #89c331;
    color: #fff;
    text-transform: uppercase;
    padding: 18px 0 23px;
}

.tariff-ultimate{
    background-color:  #f04a56;
    color: #fff;
    text-transform: uppercase;
    padding: 18px 0 23px;
}

.tariff-premium{
    background-color: #20807c;
    color: #fff;
    text-transform: uppercase;
    padding: 18px 0 23px;
}

.tariff-name{
    color:  #ffffff;
    font-size: 24px;
    font-weight: 700;
}

.tariff-price{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 22px 0;
}

.tariff-price-dolar{
    color:  #ffffff;
    font-size: 36px;
    font-weight: 700;
}

.tariff-price-cent{
    color:  #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
}

.tariff-price-period{
    text-transform: uppercase;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 700;
    display: block;
    padding-left: 32px;
}

.btn-buy{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 14px 33px;
    border-radius: 5px;
    background-color:  #414141;
    box-shadow: 0 5px 0 0 #343434;
}


.tbody-tariff-content{
    color: #484848;
    font-size: 16px;
    text-transform: uppercase;
}


.tbody-name-function{
    display: block;
    padding-top: 8px;
}