*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
@media (min-width: 0px) {
    .header-block{
        height: 37px;
        /*padding: 7px 0;*/
        width: 100%;
        background-color: #34393d;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .header-navigation{
        display: inline-block;
        font-family: Montserrat, sans-serif;
        color:  #ffffff;
        font-size: 12px;
        font-weight: 500;
        margin-left: 19px;
    }
    .btn-hide-menu,
    .btn-show-menu{
        display: inline-block;
        color: #fff;
        padding: 10px 0;
        width: 41px;
        background-color: #1a2024;
        text-align: center;
    }
    .header-logo,
    .btn-hide-menu{
        display: none;
    }
    .menu-list{
        display: none;
        position: absolute;
        top:37px;
        right: 0;
        width: 57%;
    }
    .menu-link{
        display: block;
        text-decoration: none;
        background-color: #fafafa;
        padding: 14px 12px;
        font-family: Lato, sans-serif;
        color:  #444444;
        font-size: 12px;
        font-weight: 400;
        border-bottom: 1px solid #ccc;
    }
    .menu-link:hover{
        background-color: #f5f5f5;
    }

    /*SECTION MAIN*/
    .main-block{
        background-image: url("../img/header-font.png");
        background-size: cover;
        padding: 19px 0 94px 20px;
        height: 54vw;
        margin-bottom: 4px;
    }
    .main-title{
        font-family: Lato, sans-serif;
        color:  #ffffff;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 11px;
    }
    .main-title-first{
        display: block;
        margin-bottom: 10px;
    }
    .main-title-second{
        display: block;
    }
    .main-link-site{
        font-family: Lato, sans-serif;
        color:  #a6d6e0;
        font-size: 14px;
        font-weight: 700;
        text-decoration: none;
    }

    /*SECTION*/
    .block-menu-category{
        max-width: 100%;
        margin-bottom: 26px;
    }
    .menu-category-item{
        height: 80px;
        /*height: 20vw;*/
        display: flex;
        justify-content:space-between;
        margin-bottom: 2px;
    }
    .menu-item-block{
        width: calc(100% - 80px);
        display: flex;
        align-items: center;
        justify-content: center;

        font-family: Lato, sans-serif;
        color:  #ffffff;
        font-size: 20px;
        font-weight: 700;
    }
    .bg1{
        background-image: url("../img/Pizza_delivery.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    .bg2{
        background-image: url("../img/UA_UX_Salads.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center, center;
    }
    .bg3{
        background-image: url("../img/Desserts.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top, center;
    }

    .menu-item-detail{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 80px;
        background-color: #add9ae;
        color: #ffffff;
    }
    .menu-detail{
        color: #fff;
    }

    /*SECTION*/
    .menu-logo{
        display: none;
    }
    .assortment-about-block{
        margin-bottom: 10px;
        padding-left: 7px;
    }
    .assortment-text-title{
        font-family: Lato, sans-serif;
        text-transform: uppercase;
        color:  #3f4043;
        font-size: 19px;
        font-weight: 400;
        margin-bottom: 4px;
    }
    .assortment-text-desc{
        font-family: Lato, sans-serif;
        color:  #cbcdce;
        font-size: 10px;
        font-weight: 400;
    }
    .assortment-block-left{
        margin-bottom: 29px;
    }
    .assortment-block-right{
        margin-bottom: 48px;
    }
    .assortment-bars-left{
        font-family: Lato, sans-serif;
        color:  #acd9ad;
        font-size: 20px;
        font-weight: 400;
        background-color: #3d3e41;
        padding: 12px 0 12px 18px;
        text-transform: uppercase;
        margin-bottom: 19px;
    }
    .assortment-category-list{
        padding: 0 20px;
        margin-bottom: 23px;
    }
    .assortment-category-list:last-child{
       margin-bottom: 0px;
    }
    .assortment-category{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 19px;
    }
    .assortment-category-title{
        font-family: Lato, sans-serif;
        color:  #3f4043;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 400;
    }
    .logo-category{
        font-size: 25px;
        color: #abd8ab;
    }
    .category-item{
        margin-bottom: 11px;
    }
    .category-item:last-child{
        margin-bottom: 0;
    }
    .category-item-product{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;
    }
    .category-item-name{
        font-family: Lato, sans-serif;
        color:  #3f4043;
        font-size: 14px;
        font-weight: 400;
        position: relative;
        padding-left: 10px;
    }
    .category-item-name::before{
        content: '';
        position: absolute;
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color:  #3f4043;
        left: 0px;
        top: 6px;
    }
    .category-item-price{
        font-family: Lato, sans-serif;
        color:  #3f4043;
        font-size: 14px;
        font-weight: 700;
    }
    .category-item-description{
        font-family: Lato, sans-serif;
        color:  #3f4043;
        font-size: 9px;
        font-weight: 400;
        text-align: justify;
    }


    .assortment-bars-right{
        background-color: #add9ae;
        font-family: Lato, sans-serif;
        color:  #fff;
        font-size: 20px;
        font-weight: 400;
        padding: 12px 0 12px 18px;
        text-transform: uppercase;
        margin-bottom: 19px;
    }

    .footer-block{
        background-color: #add9ae;
        padding: 12px 0;
    }
    .footer-logo{
        display: none;
    }
    .footer-copyright{
        font-family: Montserrat, sans-serif;
        color:  #ffffff;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        text-align: center;
    }
    .footer-copyright-long{
        display: block;
    }

}

@media (min-width: 640px) {
    .header-block{
        height: 74px;
    }
    .header-navigation{
        font-size: 24px;
        margin-left: 38px;
    }
    .btn-hide-menu,
    .btn-show-menu{
        font-size: 35px;
        padding: 19px 25px;
    }
    .main-block{
        padding: 30px 0 0 38px;
    }
    .main-title{
        font-size: 36px;
        margin-bottom: 22px;
    }
    .main-link-site{
        font-size: 24px;
    }
    .menu-list{
        width: 38%;
        top: 74px
    }
    .menu-link{
        font-size: 14px;
    }
    .block-menu-category{
        margin-bottom: 45px;
    }
    .menu-item-block{
        font-size: 36px;
    }
    .menu-category-item{
        height: 20vw;
    }
    .menu-item-detail{
        width: 150px;
    }
    .menu-detail{
        font-size: 30px;
    }

    .assortment-about-block{
        padding-left: 20px;
        margin-bottom: 20px;
    }
    .assortment-text-title{
        font-size: 40px;
    }
    .assortment-text-desc{
        font-size: 20px;
    }
    .assortment-bars-left,
    .assortment-bars-right{
        font-size: 40px;
        padding: 23px 0 23px 38px;
        margin-bottom: 39px;
    }
    .assortment-category-list{
        padding: 0 38px;
        margin-bottom: 45px;
    }
    .assortment-category{
        margin-bottom: 42px;
    }
    .assortment-category-title{
        font-size: 30px;
    }
    .logo-category{
        font-size: 49px;
    }
    .category-item{
        margin-bottom: 22px;
    }
    .category-item-product{
        margin-bottom: 16px;
    }
    .category-item-name,
    .category-item-price{
        font-size: 27px;
    }
    .category-item-name::before{
        top:13px;
    }
    .category-item-description{
        font-size: 18px;
    }

    .footer-block{
        padding: 28px 0;
    }
    .footer-copyright{
        font-size: 18px;
    }
    .footer-copyright-long{
        margin-top: 10px;
    }
}


@media (min-width: 980px) {
    .header-block{
        height: 97px;
    }
    .btn-show-menu,
    .btn-hide-menu,
    .header-navigation{
        display: none;
    }
    .header-logo{
        display: block;
        margin-right: 30px;
    }
    .menu-list{
        display: block;
        width: 100%;
        position: inherit;
        margin-left: 30px;
    }
    .menu-block:hover .btn-show-menu,
    .menu-block:hover .btn-hide-menu{
        display: none;
    }
    .menu-link:hover{
        background-color: transparent;
    }
    .menu{
        display: flex;
    }
    .menu-item{
        margin-right: 32px;
    }
    .menu-item:last-child{
        margin-right: 0px;
    }
    .menu-link{
        display: inline-block;
        text-decoration: none;
        background-color: transparent;
        font-size: 15px;
        text-transform: uppercase;
        color: #ececec;
        border: none;
        padding: 0;
    }
    .main-block{
        padding: 64px 0 0 30px
    }
    .main-title{
        font-size: 54px;
        margin-bottom: 57px;
    }
    .main-link-site{
        font-size: 34px;
    }

    /*SECTION*/
    .block-menu-category{
        display: flex;
        margin-bottom: 72px;
    }
    .menu-item-detail{
        display: none;
    }
    .menu-category-item{
        width: calc(100% / 3);
        height: 327px;
    }
    .menu-item-block{
        width: 100%;
        font-size: 38px;
    }

    /*SECTION*/
    .assortment{
        padding-bottom: 84px;
        margin-bottom: 0;
    }
    .assortment-about-block{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px 0 30px;
        margin-bottom: 21px;
    }
    .assortment-text-title{
        font-size: 34px;
        margin-bottom: 9px;
    }
    .assortment-text-desc{
        font-size: 20px;
    }
    .menu-logo{
        display: block;
    }

    .assortment-menu-block{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .assortment-block-right,
    .assortment-block-left{
        width: 50%;
    }
    .assortment-block-right:nth-last-child(1),
    .assortment-block-left:nth-last-child(1){
        margin-bottom: 0;
    }
    .assortment-bars-left,
    .assortment-bars-right{
        font-size: 34px;
        padding: 25px 0 25px 18px;
        margin-bottom: 41px;
    }
    .assortment-category-list{
        padding: 0 19px;
        margin-bottom: 53px;
    }
    .assortment-category{
        margin-bottom: 46px;
    }
    .assortment-category-title{
        font-size: 26px;
    }
    .logo-category{
        font-size: 42px;
    }
    .category-item{
        margin-bottom: 28px;
    }
    .category-item-product{
        margin-bottom: 16px;
    }
    .category-item-name,
    .category-item-price{
        font-size: 24px;
    }
    .category-item-name{
        padding-left: 16px;
    }
    .category-item-name::before{
        top:9px;
        width: 7px;
        height: 7px;
    }
    .category-item-description{
        font-size: 16px;
    }
    /*FOOTER*/
    .footer-block{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 7px 37px 7px 30px;
    }
    .footer-logo{
        display: inline-block;
    }
    .footer-copyright{
        font-size: 18px;
    }
    .footer-copyright-long{
        display: inline-block;
    }
}


@media (min-width: 1200px) {
    .header-logo{
        margin-right: 37px;
    }
    .menu-list{
        margin-left: 37px;
    }
    .main-block{
        padding: 58px 0 0 37px
    }
    .main-title{
        font-size: 62px;
        margin-bottom: 53px;
    }
    .main-link-site{
        font-size: 38px;
    }

    /*SECTION*/
    .block-menu-category{
        margin-bottom: 77px;
    }
    .menu-category-item{
        height: 400px;
    }
    .menu-item-block{
        font-size: 43px;
    }

    /*SECTION*/
    .assortment{
        padding-bottom: 128px;
    }
    .assortment-about-block{
        padding: 0 15px 0 23px;
        margin-bottom: 16px;
    }
    .assortment-text-title{
        font-size: 40px;
    }

    .assortment-bars-left,
    .assortment-bars-right{
        font-size: 40px;
        padding: 23px 0 23px 18px;
        margin-bottom: 38px;
    }
    .assortment-category-list{
        padding: 0 25px;
        margin-bottom: 45px;
    }
    .assortment-category{
        margin-bottom: 42px;
    }
    .assortment-category-title{
        font-size: 30px;
    }
    .logo-category{
        font-size: 48px;
    }
    .category-item{
        margin-bottom: 22px;
    }

    .category-item-name,
    .category-item-price{
        font-size: 27px;
    }
    .category-item-description{
        font-size: 18px;
    }

    .footer-block{
        padding: 7px 37px;
    }
}