.header-block{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: calc(100vh - 290px);
    background: url('../img/bg1.jpg') no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    padding: 145px 82px;
}

.header-name{
    font-family: Montserrat, sans-serif;
    color:  #ffffff;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 16px;
}

.header-text{
    font-family: Lato, sans-serif;
    color:  #ffffff;
    font-size: 18px;
    margin-bottom: 28px;
}

.header-slogan{
    display: flex;
    align-items: center;
    font-family: Montserrat, sans-serif;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.header-about-us-small{
    color:  #f1ad1d;
    background-color: #fff;
    padding: 49px 34px 42px 29px;
}

.header-about-us-big{
    color:  #ffffff;
    background-color:  rgba(0, 0, 0, 0.3);
    border: 1px solid #fff;
    padding: 48px 56px 41px 26px;
}


/*SECTIONS*/
.section-about-us{
    padding: 112px 0px 137px;
    text-align: center;
}

.section-title{
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

.section-title-black{
    color:  #333333;
    margin-bottom: 35px;
}

.section-description{
    font-family: Lato, sans-serif;
    color:  #4d4943;
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 52px;
}

.orange-line{
    border: 3px solid #f1ad1d;
    display: block;
    width: 60px;
}

.section-our-function{
    background-image: url("../img/bg2.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 0px;
    text-align: center;
}

.section-title-white {
    color: #ffffff;
    margin-bottom: 60px;
}
.text-orange{
    color:  #f1ad1d;
}

.section-secret{
    padding: 136px 0 180px;
    text-align: center;
}

.section-featured-on{
    background-image: url("../img/bg3.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 174px 0px 128px;
    text-align: center;
}

.featured-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.featured-item{
    display: flex;
    align-items: center;
    margin-right: 60px;
}
.featured-item:last-child{
    margin-right: 0;
}



.section-arguments{
    padding: 157px 0px 122px;
    text-align: center;
}

.section-check{
    background-image: url("../img/bg4.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 130px 0px 119px;
    text-align: center;
}

.or-line-margin{
    margin-bottom: 60px;
}

.section-check-description{
    font-family: OpenSans, sans-serif;
    color:  #ffffff;
    font-size: 18px;
    line-height: 30px;
    width: 573px;
    margin: 0 auto 44px;
}

.white-line{
    border: 3px solid #fff;
    display: block;
    width: 281px;
}

.footer-block{
    padding: 154px 0px 179px;
    text-align: center;
}