body{
    font-family: Roboto, sans-serif;
    color: #000;
}

.container{
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.header-menu{
    margin-top: 61px;
    margin-bottom: 51px;
}

.header-title{
    margin-bottom: 45px;
}

.header-title-link{
    font-size: 80px;
}

.black-text{
    color:#000;
}
.blue-text{
    color:#4bcaff;
}

.menu-top{
    background-color:  #35444f;
    text-align: center;
}

.menu-top-item {
    display: inline-block;
}

.menu-top-link{
    display: inline-block;
    color: #ffffff;
    padding: 24px 42px;
    font-size: 24px;
    border-left:1px solid #35444f; /*transparent*/
    border-right: 1px solid #35444f;
}

.selected-top,
.menu-top-link:hover{
    background: #222f3a;
    border-left:1px solid #818181;
    border-right: 1px solid #818181;
}

.main{
    padding-top: 51px;
}
.clearfix2::after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.left-sidebar{
    float: left;
    width: 342px;
    margin-right: 52px;
}

.menu-left{
    border: 1px solid #32424e;
}

.menu-left-link{
    display:block;
    padding-top: 29px;
    padding-bottom: 29px;
    padding-left: 42px;
    color: #485863;
    font-size: 26px;
}

.selected-left,
.menu-left-link:hover{
    color: #000;
    padding-left: 70px;
    background: #dcdcdc;
}

.block-content{
    float: right;
    width: 880px;
}

.block-content-img{
    text-align: center;
    padding-top: 75px;
    padding-bottom: 75px;
    border: 1px solid #32424e;
    margin-bottom: 50px;
}
.content-img{
    width: 320px;
    max-width: 100%;
    /*height: 381px;*/
    transition: 3s ease;
}
.block-content-img:hover img{
    transform: scale(1.2);
}

.content-text{
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    color: #2c2b2b;
    font-size: 18px;
    line-height: 24px;
}

.footer-block{
    width: 1280px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    background: #b6b9bc;
}
.container-footer{
    padding: 22px 34px;
    box-sizing: border-box;
}
.menu-footer{
    float: left;
}
.menu-bottom-item{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}
.menu-bottom-item:first-child{
    padding-left: 0px;
}

.menu-bottom-link{
    display: inline-block;
    color:  #0c1927;
    font-size: 28px;
}

.selected-bottom,
.menu-bottom-link:hover{
    color: #3181a6;
    border-bottom: 1px solid #3181a6;
}


.text-copyright{
    text-align: right;
    color: #010000;
    font-size: 24px;
}