#draw{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    background-color: #00cbf6;
    color:#000;
}

input{
    margin: 5px;
    width: 150px;
}

.draw_circle{
    display: block;
    padding: 10px;
    background-color: #00cbf6;
    color:#000;
    outline: none;
}
