.main{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}
.header-block{
    height: 100vh;
    width: 100%;
    padding-top: 32px;
    position: relative;
    background-color:  rgba(0, 0, 0, 0.8);
}

.triangle-up::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 700px solid transparent;
    border-right: 700px solid transparent;
    border-top: 80px solid #FFFFFF;
    position: absolute;
    top: 0;
    right: 0;
}

.triangle-down::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 700px solid #FFFFFF;
    border-right: 700px solid #FFFFFF;
    border-top: 80px solid transparent;
    position: absolute;
    bottom: 0;
    right: 0;
}
.container{
    width: 1064px;
    margin: 0 auto;
}
 /*parallax block start*/
.section {
    position: relative;
}
.parallax::after {
    /* Отображение и положение псевдоэлемента */
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
}
.static {
    background: #fff;
}
/* parallax block end*/

.bg-header::after {
    background-image: url("../img/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.header-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.header-block-top{
    background-color: #fff;
    padding: 38px 0;
}
.header-title-black{
    font-family: Roboto, sans-serif;
    color:  #424f57;
    font-size: 36px;
    font-weight: 300;
}
.header-title-blue{
    font-family: Roboto, sans-serif;
    color:  #14afca;
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
}
.header-menu {
    display: flex;
    align-items: center;
}
.header-menu-item {
    display: inline-block;
    margin-right: 40px;
}
.header-menu-link{
    text-decoration: none;
    font-family: OpenSans, sans-serif;
    color: #3e4b4e;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}
.header-menu-item:last-child{
    margin-right: 0;
}
.header-menu-link:hover{
    color: #14afca;
}
.header-about{
    padding: 173px 207px 168px 227px;
}
.title-about-us{
    font-family: Roboto, sans-serif;
    color:  #ffffff;
    font-size: 52px;
    font-weight: 700;
    line-height: 75px;
    text-align: center;
    text-transform: uppercase;
}

/*section-what*/
.section-what{
    padding: 108px 0 100px;
    text-align: center;
}
.section-what-title{
    font-family: Roboto, sans-serif;
    color: #14afca;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.section-what-small-text{
    font-family: OpenSans, sans-serif;
    color:  #424f57;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 42px;
}
.section-what-description{
    font-family: Roboto, sans-serif;
    color:  #424f57;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

/*section-companies*/
.bg-header-companies::after{
    background-image: url("../img/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.section-companies{
    padding: 134px 0 54px;
    text-align: center;
    background-color:  rgba(0, 0, 0, 0.8);

}
.section-companies-title{
    font-family: Roboto, sans-serif;
    color:  #14afca;
    font-size: 60px;
    font-weight: 700;
    line-height: 75px;
    text-transform: uppercase;
    margin-bottom: 27px;
}
.section-companies-small-text{
    font-family: OpenSans, sans-serif;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 49px;
}
.companies-block-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.companies-item{
    margin-bottom: 122px;
    margin-right: 56px;
}
.companies-item:nth-child(4n){
    margin-right: 0;
}

/*section-meets*/
.section-meets{
    padding: 94px 0 124px;
    text-align: center;
}
.section-meets-title{
    font-family: Roboto, sans-serif;
    color:  #14afca;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.section-meets-small-text{
    font-family: OpenSans, sans-serif;
    color:  #424f57;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 47px;
}
.section-meets-list{
    display: flex;
    justify-content: space-between;
}
.meets-item{
    margin-right: 86px;
}
.meets-item:nth-child(3n){
    margin-right: 0px;
}
.meets-img{
    width: 207px;
    text-align: center;
    margin-bottom: 27px;
}
.meets-about{
    font-family: Roboto, sans-serif;
    color:  #424f57;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
}

/*section-testimonials*/
.bg-header-testimonials::after{
    background-image: url("../img/bg3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.section-testimonials{
    padding: 199px 0 164px;
    background-color:  rgba(0, 0, 0, 0.8);
    text-align: center;
}
.section-testimonials-title{
    font-family: Roboto, sans-serif;
    color:  #14afca;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.section-testimonials-small-text{
    font-family: OpenSans, sans-serif;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 44px;
}
.section-testimonials-description{
    font-family: OpenSans, sans-serif;
    color:  #d3cccc;
    font-size: 16px;
    font-style: italic;
    line-height: 28px;
    margin-bottom: 25px;
}
.section-testimonials-auter{
    font-family: OpenSans, sans-serif;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    text-align: right;
    margin-right: 200px;
}

/*section-why*/
.section-why{
    padding: 115px 0 104px;
    text-align: center;
}
.section-why-title{
    font-family: Roboto, sans-serif;
    color:  #14afca;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.section-why-small-text{
    font-family: OpenSans, sans-serif;
    color:  #424f57;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 55px;
}
.section-why-description{
    font-family: Roboto, sans-serif;
    color:  #424f57;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    margin-bottom: 113px;
}
.section-copyright{
    font-family: OpenSans, sans-serif;
    color:  #3d3c3c;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.section-designed-strong{
    font-family: OpenSans, sans-serif;
    color:  #3d3c3c;
    font-size: 16px;
    font-weight: 700;
}