a{
    text-decoration: none;
    padding: 10px 0;
    width: 60px;
    margin-right: 5px;
    background-color: #FFF067;
    color: #000000;
    text-align: center;
    display: inline-block;
}

#pause{
    display: none;
}

#clock{
    margin-bottom: 10px;
    font-size: 18px;
    border: 1px solid #0c1927;
    width: 100px;
    text-align: center;
    padding: 5px 0;
}

input{
    width: 100px;
    text-align: center;
    margin: 10px 2px;
    display: block;
    font-size: 16px;
}

.btn{
    /*width: 30px;*/
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
}