table{
    border-collapse: collapse;
}

.box{
    border: 1px solid #0c1927;
    background-color: #fff;
    width: 20px;
    height: 20px;
}
table.reverse .box{
    background-color: #000;
}
table.reverse .box.black-box{
    background-color: #fff;
}

.black-box{
    background-color: #000;
}