*{
    box-sizing: border-box;
}
body{
    width: 1400px;
}

.container{
    width: 1024px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
.header-contact {
    background-color: #f0f2f4;
    /*padding: 9px 0;*/
    padding: 7px 0 8px;
}
.header-flex{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-contact-phone{
    font-family: Roboto, sans-serif;
    letter-spacing: .4px;
    color: #424242;
    font-size: 15px;
    font-weight: 400;
    margin-left: 11px;
    margin-right: 40px;
    position: relative;
}

.header-contact-phone::after{
    content: '';
    position: absolute;
    background-color:  #e2e2e2;
    width: 1px;
    height: 49px;
    top: -19px;
    right: -20px;
}

.header-contact-email{
    font-family: Roboto, sans-serif;
    letter-spacing: .4px;
    color: #424242;
    font-size: 15px;
    font-weight: 400;
    /*margin-left: 8px;*/
    margin-left: 5px;
    margin-right: 12px;
}

.header-facebook{
    display: inline-block;
    /*font-size: 26px;*/
    font-size: 28px;
    color: #1287bf;
}

.header-logo-menu{
    /*padding: 42px 0 38px;*/
    padding: 34px 0;
}

.fa-graduation-cap{
    color:  #dd2a24;
    font-size: 57px;
}

.header-title{
    display: inline-block;
    margin-left: 10px;
}

.header-logo-bid{
    font-family: Roboto, sans-serif;
    letter-spacing: 1.3px;
    color:  #424242;
    font-size: 37px;
    font-weight: 700;
}
.header-logo-small{
    font-family: Roboto, sans-serif;
    color:  #424242;
    font-size: 15px;
    display: block;
}

.header-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header-menu-block{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-menu{
    margin-right: 32px;
}

.header-item{
    display: inline-block;
    position: relative;
    margin-right: 40px;
}
.header-item:last-child{
    margin-right: 0;
}

.header-item::after{
    content: '';
    position: absolute;
    border-radius: 50%;
    background-color:  #424242;
    right: -24px;
    top:6px;
    width: 5px;
    height: 5px;
}

.header-item:last-child::after{
    content: none;
}

.header-link{
    font-family: Roboto, sans-serif;
    color:  #424242;
    font-size: 15px;
    font-weight: 700;
}

.header-link:hover{
    color: #de2b24;
}

.header-btn{
    display: inline-block;
    border-radius: 4px;
    background-color:  #de2b24;
    color: #fff;
    padding: 12px 23px;
    width: 171px;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.header-block-img{
    background-image: url("../img/bg-header.png");
    background-size: cover;
    /*height: 590px;*/
    /*padding: 176px 0 236px;*/
    padding: 173px 0 236px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.header-title-name{
    font-family: Roboto, sans-serif;
    letter-spacing: 1.1px;
    color:  #ffffff;
    font-size: 48px;
    font-weight: 700;
    /*margin-bottom: 15px;*/
    margin-bottom: 3px;
}
.header-description{
    font-family: Roboto, sans-serif;
    color:  #ffffff;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 32px;
}

.header-btn-free{
    display: inline-block;
    background-color:  #f8cd53;
    font-family: Roboto, sans-serif;
    color:  #ffffff;
    font-size: 23px;
    font-weight: 700;
    padding: 25px 40px;
    width: 330px;
    border-radius: 5px;
    text-transform: uppercase;
}

.about-us{
    /*padding: 102px 0 143px;*/
    padding: 97px 0 143px;
    text-align: center;
}

.about-us-title{
    font-family: Roboto, sans-serif;
    letter-spacing: 1px;
    color:  #424242;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 5px;
}
.about-us-description{
    font-family: Roboto, sans-serif;
    color:  #424242;
    font-size: 20px;
    font-weight: 300;
    position: relative;
    margin-bottom: 65px;
}
.about-us-description::after{
    content: '';
    position: absolute;
    display: block;
    background-color:  #424242;
    width: 47px;
    height: 5px;
    top: 34px;
    left: 48%;
}

.about-us-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.about-us-item{
    width: 240px;
    text-align: center;
}
.about-item-img-block{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 81px;
    /*margin-bottom: 28px;*/
    margin-bottom: 25px;
}
.about-item-title{
    font-family: Roboto, sans-serif;
    letter-spacing: .5px;
    color:  #424242;
    font-size: 22px;
    font-weight: 700;
    /*margin-bottom: 14px;*/
    margin-bottom: 8px;
}

.about-item-description{
    font-family: OpenSans, sans-serif;
    color:  #5c5c5c;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.work{
    background-color: #de2b24;
    /*padding: 110px 0 131px;*/
    padding: 104px 0 131px;
    text-align: center;
}
.work-title{
    font-family: Roboto, sans-serif;
    color:  #ffffff;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 5px;
}
.work-description{
    font-family: Roboto, sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    /*margin-bottom: 69px;*/
    margin-bottom: 66px;
    position: relative;
}
.work-description::after{
    content: '';
    position: absolute;
    display: block;
    background-color: #fff;
    width: 47px;
    height: 5px;
    top: 34px;
    left: 48%;
}
.work-list{
    display: flex;
    flex-wrap: wrap;
}
.work-item{
    width: 255px;
    height: 253px;
}
.work-item-img{
    width: 100%;
}
.work-item-bg{
    background-color:  #f35e59;
    display: flex;
    align-items: center;
    justify-content: center;
}

.work-item-title{
    font-family: Roboto, sans-serif;
    letter-spacing: .5px;
    color:  #ffffff;
    font-size: 26px;
    font-weight: 700;
    /*margin-bottom: 5px;*/
}
.work-item-description{
    font-family: Roboto, sans-serif;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 700;
}
.fa-paper-plane{
    color: #f9afac;
    font-size: 36px;
    font-weight: 400;
    /*margin-bottom: 25px;*/
    margin-bottom: 16px;
}

.subscribe{
    background-color:  #2a2a2a;
    /*height: 490px;*/
    text-align: center;
    /*padding: 90px 0 84px;*/
    padding: 85px 0 84px;
}
.subscribe-title{
    font-family: Roboto, sans-serif;
    color:  #ffffff;
    font-size: 29px;
    font-weight: 700;
    /*margin-bottom: 29px;*/
    margin-bottom: 26px;
}
.subscribe-sing{
    margin-bottom: 36px;
}
.sing-icon{
    display: inline-block;
    margin-right: 20px;
    border-radius: 1px;
    border: 2px solid #515151;
    background-color:  rgba(243, 243, 243, 0);
    width: 49px;
    height: 49px;
    line-height: 49px;

    color:  #ffffff;
    font-size: 23px;
    font-weight: 400;
}
.sing-icon:last-child{
    margin-right: 0px;
}
.sing-icon:hover{
    border-color: #de2b24;
}

.subscribe-description{
    font-family: OpenSans, sans-serif;
    letter-spacing: .5px;
    color:  #cecece;
    font-size: 14px;
    font-weight: 400;
    /*margin-bottom: 31px;*/
    margin-bottom: 30px;
}

.subscribe-form{
    text-align: -webkit-center;
}
.subscribe-email{
    padding: 22px 0 20px 22px;
    border-radius: 1px;
    background-color:  #515151;
    margin-bottom: 27px;
    width: 683px;
    outline: none;
    border: none;
    /*position: absolute;*/
    /*height: 54px;*/
}
.subscribe-email::placeholder {
    color: #cecece;
    font-size: 14px;
}

.subscribe-btn{
    display: block;
    border-radius: 1px;
    border: 2px solid #515151;
    background-color:  rgba(243, 243, 243, 0);
    width: 153px;
    /*padding: 20px 36px;*/
    padding: 13px 36px;

    font-family: Roboto, sans-serif;
    color:  #ffffff;
    font-size: 17px;
    font-weight: 700;
}

.footer-block{
    background-color:  #515151;
    /*height: 67px;*/
    padding: 26px 0;
    text-align: center;
}
.footer-copyright{
    font-family: OpenSans, sans-serif;
    color:  #cecece;
    font-size: 14px;
    letter-spacing: .5px;
    font-weight: 400;
}